<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3 d-flex justify-content-between align-items-center">
          <h6 class="text-white text-capitalize ps-3">Candidates Table</h6>
          <button class="btn btn-primary me-3" (click)="addCandidate()">
            <i class="fas fa-plus"></i>
            Add a new candidate</button>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table table-hover align-middle mb-0 text-center">
            <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-start ps-4">Name</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Surname</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone Number</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
            </tr>
            </thead>
            <tbody>
              @for (candidat of candidats; track $index) {
                <tr>
                  <td class="text-start ps-4">
                    <div class="d-flex align-items-center">
                      <img src="../assets/img/candidat.jpeg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ candidat.firstName }}</h6>
                        <p class="text-xs text-secondary mb-0">{{ candidat.email }}</p>
                      </div>
                    </div>
                  </td>

                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ candidat.lastName }}</p>
                  </td>

                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ candidat.phone }}</p>
                  </td>

                  <td>
                    @if (candidat.typeCandidate === 'vip') {
                      <span class="badge badge-sm bg-gradient-success text-uppercase">{{ candidat.typeCandidate }}</span>
                    }
                    @else {
                      <span class="badge badge-sm bg-gradient-info text-uppercase">{{ candidat.typeCandidate }}</span>
                    }
                  </td>

                  <td>
                      <a href="javascript:;" (click)="editCandidate(candidat)" class="text-secondary font-weight-bold text-xs " data-toggle="tooltip"  title="Edit user">
                      Edit
                    </a> 
                  </td>
                  <td>
                    <a href="javascript:;" (click)="deleteCandidate(candidat)" class="text-secondary text-danger font-weight-bold text-xs" data-toggle="tooltip" title="Delete user">
                      <i class="material-symbols-rounded text-sm me-2">delete</i>
                      delete
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
