<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">Instructors Table</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table table-hover align-middle mb-0 text-center">
            <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-start ps-4">Name</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Surname</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone Number</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
            </tr>
            </thead>
            <tbody>
              @for (instructor of instructors; track $index) {
                <tr>
                  <td class="text-start ps-4">
                    <div class="d-flex align-items-center">
                      <img src="../assets/img/instructor.png" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ instructor.firstName }}</h6>
                        <p class="text-xs text-secondary mb-0">{{ instructor.email }}</p>
                      </div>
                    </div>
                  </td>

                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ instructor.lastName }}</p>
                  </td>

                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ instructor.phone }}</p>
                  </td>
                  <td>
                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" title="Edit user">
                      Edit
                    </a>
                  </td>
                  <td>
                    <a href="javascript:;" (click)="deleteInstructor(instructor)" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" title="Edit user">
                      Delete
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
